<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center">Select Option</h2>
        <h4  class="text-center" style="color: #1edc1c;"></h4>
      </div>
      <hr />
      <div class="modal-body">
     
        <div class="form-group">
          <label for="email">Users:</label>
    
          <select  [(ngModel)]="questionid"  class="form-control" (change)="getValueInInputBox($event);">
              <option value="0">Select</option>
              <option *ngFor="let question of questionCategory" [value]="question.id" >
                  {{question.questionCategory}}
              </option>
          </select>
          <br>
          <br>
          <input type="text" class="form-control" [(ngModel)]="textBox">
          <br>
          <button class="btn btn-primary" [disabled]="isOptionSelected" (click)="addOption();">Add</button>
          &nbsp;
          <button class="btn btn-danger" [disabled]="!isOptionSelected" (click)="deleteOption();">Delete</button>
        </div>
      </div>
    </div>
  </div>








